.websiteheader {color:#077264; 
	font-family:verdana;
	line-height:100%;
}
body {font-family:verdana;
			font-size:13px;}
a:link {color:black;
			 text-decoration: none;}
a:visited {color:black;}
a:hover {color:blue;}
a:active {}
ul {list-style-type: circle;}
#idea {font-size:10px;
		position:absolute;
		top:96.5%;
		left:77%;}
code{background:#F8F8FF; 
		border:black 1px; padding:6px}​