.websiteheader {color:#077264; 
	font-family:verdana;
	line-height:100%;
}
.photos {font-family:Monaco;
				font-size:13px;}
div.tableofcontents{
    background-color: #f8f8f8;
		border-style: groove;
		border-color: #f0f5f5;
		border-width: 0.5px;
		padding: 3px 0 3px 30px;
		overflow:hidden;
}
div.tableofcontents a{
	color: #CA7900;
}
div.tableofcontents li{
	padding-bottom: 0.3em;
}
div.tableofcontents ul{
	margin-top: 0px;
  margin-bottom: 0px;
}
div.tableofcontents ol{
	margin-top: 0px;
  margin-bottom: 0px;
}
div.section h1{
	font-weight:normal;
}
div.document h2{
    background-color: #f2f2f2;
    font-weight: normal;
    color: #20435c;
    border-bottom: 1px solid #ccc;
    margin: 20px -20px 10px -20px;
    padding: 3px 0 3px 30px;
}
div.bottom {
    position: fixed;
    bottom: 0px;
		right: 0px;
		font-size:10px;
}
body {font-family:verdana;
			font-size:13px;}
a:link {color:black;
			 text-decoration: none;}
a:visited {color:black;}
a:hover {color:blue;}
a:active {}
ul {list-style-type: circle;}
#idea {font-size:10px;
		position:absolute;
		top:96.5%;
		left:88%;}
code{background:#f8f8f8; 
		border:black 1px; padding:6px}​